:root {
	--rojo: hsl(0, 0%, 100%);
	--fondo: rgb(255, 255, 255);
	/* text-shadow: 1px 2px 2px rgb(122, 121, 121); */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}
/* --------------------------BOTON MAS CUPON ------------------------------ */
.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 20px 0;
}


/* -----------------------------CENTRADO DE LOGOTICO--------------------- */
header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* ------------------------- LETRA DEL ENCABEZADO ---------------------------- */
header .logotipo {
	font-family: 'Racing Sans One', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 62px;
}
/* -----------------------------LETRA DEL MENU ---------------------------- */
header nav a {
	color: hsl(298, 70%, 31%);
	text-decoration: none;
	margin-right: 15px;

}
header nav a:hover,
header nav a.activo {
	color: hsl(318, 93%, 54%);
}

/* ---- ----- ----- FONDO ----- ----- ----- */
.pelicula-principal {

	background: url(img/github.png);
	background-position: center;
	margin: 0 auto;
	background-size: cover;
	margin-bottom: 2.12em;
	display: flex;
	align-items: end;
	
}
/* ---------------------------------ARRIBA FOOTER------------------------ */
.pelicula-principal .contenedor {
	margin: 10 auto;
	margin-bottom: 20.25em;
}
/* ---------------------------------ALINEACION DE FONDO Y FOOTER ---------------------- */
.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 60%;
	margin-bottom: 30em;
}
/* -------------------------- BOTON INFORMACIÓN -------------------------- */
.pelicula-principal .boton {
	background: hsl(318, 44%, 30%);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: rgb(255, 227, 253);
	margin-right: .50em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}
/* --------------------------  BOTON ABRE Y CIERRA ------------------------- */
.pelicula-principal .boton:hover {
	background: rgb(255, 199, 199);
	color: hsl(310, 49%, 33%);
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
/* --------------------------- FOOTER MAESTRO ------------------------ */
*{
	margin: 0;
	padding: 0;
	color: #d9d9d9;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  }
  .content1{
	position: relative;
	margin: 130px auto;
	text-align: center;
	padding: 0 20px;
  }
  /* -------------------------- COLOR DE FOOTER ----------------------- */
  .content1 .text{
	font-size: 2.5rem;
	font-weight: 600;
	color: #202020;
  }
  
  /* ************************************************************************** */
/* ********************ESTA PARTE HACE EL EFECTO RESPONCIVO****************** */


/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 7.5px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}

*{
	margin: 0;
	padding: 0;
	color: #d9d9d9;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  }
  .content1{
	position: relative;
	margin: 130px auto;
	text-align: center;
	padding: 0 20px;
  }
  .content1 .text{
	font-size: 2.5rem;
	font-weight: 600;
	color: #5e095e;
  }
  .content1 .p{
	font-size: 2.1875rem;
	font-weight: 600;
	color:  #e493e4;
  }
  footer{
	position: -50%;
	bottom: -100px;
	width: 100%;
	background: rgb(51, 8, 45);
  }
  .main-content{
	display: flex;
  }
  .main-content .box{
	flex-basis: 50%;
	padding: 10px 20px;
  }
  .box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
  }
  .box .content{
	margin: 10px 0 0 0;
	position: relative;
  }
  .box .content:before{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
	background: #910785;
  }
  .box .content:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background: #f17878;
	top: -10px;
  }
  .left .content p{
	text-align: justify;
  }
  .left .content .social{
	margin: 20px 0 0 0;
  }
  .left .content .social a{
	padding: 0 2px;
  }
  .left .content .social a span{
	height: 40px;
	width: 40px;
	background: #8b0074;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
  }
  .left .content .social a span:hover{
	background: #f14c4c;
  }
  .center .content .fas{
	font-size: 1.4375rem;
	background: #8b0074;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
  }
  .center .content .fas:hover{
	background: #f14c4c;
  }
  .center .content .text{
	font-size: 1.0625rem;
	font-weight: 500;
	padding-left: 10px;
  }
  .center .content .phone{
	margin: 15px 0;
  }
  .right form .text{
	font-size: 1.0625rem;
	margin-bottom: 2px;
	color: #656565;
  }
  .right form .msg{
	margin-top: 10px;
  }
  .right form input, .right form textarea{
	width: 100%;
	font-size: 1.0625rem;
	background: #151515;
	padding-left: 10px;
	border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
	outline-color: #3498db;
  }
  .right form input{
	height: 35px;
  }
  .right form .btn{
	margin-top: 10px;
  }
  .right form .btn button{
	height: 40px;
	width: 100%;
	border: none;
	outline: none;
	background: #f12020;
	font-size: 1.0625rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
  }
  .right form .btn button:hover{
	background: #000;
  }
  .bottom center{
	padding: 5px;
	font-size: 0.9375rem;
	background: #151515;
  }
  .bottom center span{
	color: #656565;
  }
  .bottom center a{
	color: #f12020;
	text-decoration: none;
  }
  .bottom center a:hover{
	text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
	footer{
	  position: relative;
	  bottom: 0px;
	}
	.main-content{
	  flex-wrap: wrap;
	  flex-direction: column;
	}
	.main-content .box{
	  margin: 5px 0;
	}
  }
  
  
  /*****Eliminar border por defecto de un botton */
  input{
	border: none;
	outline: none;
	}
  textarea{
  outline: none;
  outline:none;
  }
